@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.ttf')
}

body {
    background: #22A5AD;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Lato', sans-serif;
}

img {
    border-radius: 10px;
}

table {
    background-color: #19767C;
    width: 100%;
    margin: 0px 0px 0px 10px;
    border: none;
}

th {
    width: 14%;
    text-align: center;
    font-size: 4vmin;
    color: #FFFFFF;
}

td {
    padding: 10px;
    text-align: center;
    font-size: 3vmin;
    color: #FFFFFF;
}

#current-time {
    background-color: #19767C;
    width: 15%;
    height: 127px;
    margin: 0px 0px 0px 5px;
    color: #FFFFFF;
}

#current-time-content {
    font-size: 6vmin;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

#carousel {
    height: 700px;
    width: 100%;
    margin: 50px 0px;
    white-space: nowrap;
}

#text-header {
    position: absolute;
    font-size: 3vw;
    color: #FFFFFF;
    margin: -40px 0px 0px 30px;
}

#text-content {
    position: absolute;
    font-size: 2vw;
    color: #FFFFFF;
    margin: 30px 350px 0px 30px;
}

#msa-logo {
    position: absolute;
    margin: -65px 0px 0px 20px;
}
